name: APK to Telegram

on:
  release:
    types: [published]

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Send APKs to Telegram
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          RELEASE_JSON: ${{ github.event.release.assets_url }}
        run: |
          assets=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "$RELEASE_JSON")

          echo "$assets" | jq -r '.[].browser_download_url' | while read url; do
            echo "Sending $url"
            curl -s \
              -X POST "https://api.telegram.org/bot$BOT_TOKEN/sendDocument" \
              -d chat_id="$CHAT_ID" \
              -d document="$url"
            sleep 5
          done
